.answer {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.125em;
  gap: 1.125em;
}

.answer img {
  border-radius: 50%;
}

.answerContent {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.answerContent div {
  display: flex;
  align-items: flex-end;
  gap: 1em;
}

.answer span {
  font-size: 0.875rem;
  color: #262626;
}

.answeredAt {
  font-size: 0.7em !important;
  color: #8e8e8e !important;
}

.likeButton {
  border: none;
  background: transparent;
  cursor: pointer;
}

.answerButton {
  border: none;
  background: transparent;
  color: #8e8e8e;
  cursor: pointer;
}