.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  padding: 0 0.5em;
}

.container {
  width: 100%;
  max-width: 70vw;
  height: 100%;
  max-height: 85vh;
  border-radius: .8vw;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
}

.image {
  flex: 1;
  height: 100%;
  min-width: 550px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0a0a0a;
  background-size: cover;
}

@media (max-width: 1100px) {
  .image {
    background-size: contain;
    min-width: 100%;
    width: 100%;
    height: 50%;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 85vw;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 93vw;
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.basicContent {
  padding: 1em 2em;
}

/* @media (max-width: 1366px) {
  .image {
    background-size: contain;
  }
}

@media (max-width: 1120px) {
  .container {
    flex-direction: column;
  }

  .image {
    width: 100%;
    background-size: contain;
  }
}

@media (max-width: 720px) {
  .container {
    max-width: 85vw;
  }
}

@media (max-width: 420px) {
  .container {
    max-width: 95vw;
  }

  .image {
    background-size: cover;
  }
} */

.comments {
  padding: 1em 2em;
  max-height: 450px;
  overflow: auto;
  border-top: 1px solid #efefef;
}

.comment {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.125em;
  gap: 1.125em;
}

.comment img {
  border-radius: 50%;
}

.commentContent {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.comment span {
  font-size: 0.875rem;
  color: #262626;
}

.commentedAt {
  font-size: 0.7em !important;
  color: #8e8e8e !important;
}