.article {
  border-radius: 8px;
  margin-bottom: 12px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  width: 100%;
  max-width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 0;
  gap: 1em;
}

.author {
  display: flex;
  align-items: center;
  padding-left: 0.8em;
}

.content {
  padding: 0 0.5em;
}

.image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000;
  min-height: 400px;
  width: 100%;
}

@media (max-width: 420px) {
  .image {
    min-height: 370px;
  }
}

@media (max-width: 370px) {
  .image {
    min-height: 350px;
  }
}

@media (max-width: 330px) {
  .image {
    min-height: 300px;
  }
}

@media (max-width: 280px) {
  .image {
    min-height: 250px;
  }
}