.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dbdbdb;
  padding: 1em 1.5em;
  position: fixed;
  width: 100vw;
  background: #fff;
  top: 0;
}

.header button {
  background: transparent;
  border: none;
  cursor: pointer;
}